* { padding: 0; margin: 0; }
body {
    background: #1abc9c;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    background-size: cover;
}
#world a {
    color: #ff6a00;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}
header {
    color: #ff6a00;
    background-color: #2c3e50;
    background-position: center;
    background-size: 100%;
    position: relative;
}

nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius:12px 5px;
    text-align: center;
    background-color: #33ADFF;
    display: inline-table;
}

#navbar a {
    color: #fff;
    padding: 3px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline;
}

#navbar a {
    border-radius: 15px 5px;
    background-color: #0066FF;
}

header nav {
    display: inline-block;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

TABLE {
    border-spacing: 2px;
    empty-cells: hide;
    margin: auto;
    font-family: cursive;
    border: 5px solid #ff6a00;
    border-radius: 10px;
    transition: all 0.5s linear;
}

td {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #F4EEE8;
    transition: all 0.5s linear;
}
    td:first-child {
        text-align: left;
        color: #3D3511;
        font-weight: bold;
    }

th {
    padding: 10px 20px;
    color: #3D3511;
    font-size: 20px;
    border-bottom: 1px solid #F4EEE8;
}

tr:nth-child(odd) {
    background: #a74dd7;
}
tr:nth-child(even) {
    background: #ff6a00;
}

#NoTypeLink a {
    font-size: 20px;
    color: #ff6a00;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}
    #NoTypeLink a:hover {
        border-radius: 5px 5px;
        background-color: #33ADFF;
    }

.text1 {
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}

#ima2 {
    border: 2px solid #1baf6afd;
    height: 50px;
    width: 100px;
    border-radius: 5px;
}

.imaAll {
    border: 2px solid #1baf6afd;
    height: 350px;
    width: 350px;
    border-radius: 5px;
}

footer {
    padding-bottom: 20px;
    padding-top: 20px;
    color: #ff6a00;
    background-color: #2c3e50;
    text-align: left;
}